<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind Components</title>
  <link rel="stylesheet" href="~/src/style.css">
</head>
<body>

  <div class="container mx-auto px-4">

      <h2 class="my-8 font-bold text-2xl">Downloads</h2>

      <div class="my-16">
        <ul class="list-reset">
          <li class="mb-4">
            <a href="#" class="flex items-center text-primary hover:text-blue-900">
              <div class="block w-8 h-8 rounded-full bg-primary text-white">
                <svg class="fill-current w-full h-full p-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9 16.172l-6.071-6.071-1.414 1.414L10 20l.707-.707 7.778-7.778-1.414-1.414L11 16.172V0H9z"/></svg>
              </div>
              <span class="font-bold ml-2">This is the title of the download</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center text-primary hover:text-blue-900">
              <div class="block w-8 h-8 rounded-full bg-primary text-white">
                <svg class="fill-current w-full h-full p-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9 16.172l-6.071-6.071-1.414 1.414L10 20l.707-.707 7.778-7.778-1.414-1.414L11 16.172V0H9z"/></svg>
              </div>
              <span class="font-bold ml-2">This is the title of the download</span>
            </a>
          </li>
        </ul>
      </div>

  </div>

  <script src="~/src/index.js"></script>
</body>
</html>