<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind Components</title>
  <link rel="stylesheet" href="~/src/style.css">
</head>
<body>

  <section class="w-full h-screen relative">
    <figure class="w-full h-full relative">
      <picture>
        <source srcset="//placehold.it/1280x640" media="(min-width:1280px)">
        <source srcset="//placehold.it/1024x480" media="(min-width:1024px)">
        <source srcset="//placehold.it/768x480" media="(min-width:768px)">
        <img src="//placehold.it/375x375" alt="" class="block w-full h-full object-cover object-center">
      </picture>
      <figcaption class="z-10 absolute w-full h-full top-0 py-16">
        <div class="container mx-auto px-4">
          <div class="md:w-2/3 lg:w-1/2">
            <div class="inline-flex items-center font-bold mb-4 uppercase tracking-wide">
              <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M7 13.33a7 7 0 1 1 6 0V16H7v-2.67zM7 17h6v1.5c0 .83-.67 1.5-1.5 1.5h-3A1.5 1.5 0 0 1 7 18.5V17zm2-5.1V14h2v-2.1a5 5 0 1 0-2 0z"/></svg>
              <span>Did you know</span>
            </div>
            <p class="text-3xl font-bold leading-tight">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt consequuntur modi ex cum accusantium!</p>
            <p class="mt-4">
              <a href="#" class="flex md:inline-flex items-center text-center py-2 px-4 uppercase tracking-wide border border-solid font-bold bg-blue-500 text-white border-blue-500 hover:bg-transparent hover:text-blue-500 text-sm" aria-role="button">
                Button
                <svg class="fill-current w-4 h-4 ml-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16.172 9l-6.071-6.071 1.414-1.414L20 10l-.707.707-7.778 7.778-1.414-1.414L16.172 11H0V9z"/></svg>
              </a>
            </p>
          </div>
        </div>
      </figcaption>
    </figure>
    <!-- pager -->
    <ol class="absolute z-10 w-full -mt-6 list-reset flex justify-center">
      <li><a href="#" class="block mx-1 w-2 h-2 bg-black border border-solid border-black rounded-full active"></a></li>
      <li><a href="#" class="block mx-1 w-2 h-2 bg-transparent border border-solid border-black rounded-full"></a></li>
      <li><a href="#" class="block mx-1 w-2 h-2 bg-transparent border border-solid border-black rounded-full"></a></li>
    </ol>
  </section>

  <script src="~/src/index.js"></script>
</body>
</html>