<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind Components</title>
  <link rel="stylesheet" href="~/src/style.css">
</head>
<body>

  <div class="container mx-auto px-4">

    <!--  featured/sticky -->
    <article class="flex flex-col md:flex-row md:-mx-4 w-full my-16">

      <div class="flex-1 md:px-4 order-2 md:order-1">
        <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
          <li class="px-2"><a href="#" class="text-primary hover:underline focus:underline">Protection</a></li>
        </ul>
        <h3 class="font-bold mb-4 text-2xl leading-tight"><a href="#"class="hover:underline focus:underline">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
        <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
        <p class="text-sm text-secondary mt-4">
          <span class="mr-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </span>
        </p>
      </div>
      <a href="#" class="block mb-4 md:mb-0 md:w-2/3 md:px-4 order-1 md:order-2 relative text-primary">
        <svg class="fill-current w-8 h-8 absolute z-10 top-0 right-0 mr-8 -mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2 2c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v18l-8-4-8 4V2z"/></svg>
        <img src="//placehold.it/640x480" alt="" class="w-full h-auto">
      </a>
    </article>

  </div>

  <script src="~/src/index.js"></script>
</body>
</html>