<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind Components</title>
  <link rel="stylesheet" href="~/src/style.css">
</head>
<body>

  <section class="pt-16 pb-8 lg:py-16">
    <div class="container mx-auto px-4">
      <header class="mb-8"><h2 class="font-bold text-2xl">Related</h2></header>
      <div class="md:flex md:-mx-4 md:flex-wrap">

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-500 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#"class="hover:underline focus:underline">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-gray-500 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-500 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#"class="hover:underline focus:underline">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-gray-500 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-500 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#"class="hover:underline focus:underline">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-gray-500 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-500 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#"class="hover:underline focus:underline">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-gray-500 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

      </div>


      <!--  featured/sticky -->
      <article class="md:flex md:-mx-4 w-full mt-16">
        <a href="#" class="block mb-4 md:mb-0 md:w-1/3 md:px-4">
          <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
        </a>
        <div class="flex-1 md:px-4">
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-500 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-2xl leading-tight"><a href="#"class="hover:underline focus:underline">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-gray-500 mt-4">
            <span class="mr-4 inline-flex items-center">
              <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
              <time datetime="">20 February 2019</time>
            </span>
            <span class="inline-flex items-center">
              <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M444.52 3.52L28.74 195.42c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 51.17 70.36 67.17 92.75 19.19l191.9-415.78c15.99-38.39-25.59-79.97-63.97-63.97z"/></svg>
              <span>Innsbruck</span>
            </span>
          </p>
        </div>
      </article>

    </div>
  </section>

  <section class="pt-16 pb-8 lg:py-16 bg-blue-500 text-white">
    <div class="container mx-auto px-4">
      <header class="mb-8 w-full"><h2 class="font-bold text-2xl">Related</h2></header>
      <div class="md:flex md:-mx-4">

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-900 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-blue-200 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-900 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-blue-200 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-900 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-blue-200 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-900 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-blue-200 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

      </div>
    </div>
  </section>

  <script src="~/src/index.js"></script>
</body>
</html>