<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind Components</title>
  <link rel="stylesheet" href="~/src/style.css">
</head>
<body>

  <section class="pt-16 pb-8 lg:py-16">
    <div class="container mx-auto px-4">

      <div class="md:flex">

        <aside class="md:w-1/4 md:pr-8" role="complementary">
          <!-- single item -->
          <div class="mb-8 w-full">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-category">Category</label>
            <div class="relative">
              <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none" id="grid-category">
                <option>New Mexico</option>
                <option>Missouri</option>
                <option>Texas</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>

          <div class="mb-8 md:sticky top-0 pt-8 -mt-8">
            <header class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Share</header>
            <ul class="inline-flex -mx-1">
              <li class="px-1">
                <a href="#" class="block w-12 md:w-8 h-12 md:h-8 bg-primary text-white rounded-full">
                  <svg class="fill-current w-full h-full p-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>
                </a>
              </li>
              <li class="px-1">
                <a href="#" class="block w-12 md:w-8 h-12 md:h-8 bg-primary text-white rounded-full">
                  <svg class="fill-current w-full h-full p-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>
                </a>
              </li>
              <li class="px-1">
                <a href="#" class="block w-12 md:w-8 h-12 md:h-8 bg-primary text-white rounded-full">
                  <svg class="fill-current w-full h-full p-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>
                </a>
              </li>
            </ul>
          </div>

        </aside>
        <div class="md:flex-1">
          <div class="md:flex md:-mx-4 md:flex-wrap w-full">

            <article class="md:w-1/3 md:px-4 mb-8 lg:mb-0">
              <a href="#" class="block mb-4">
                <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
              </a>
              <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
                <li class="px-2"><a href="#" class="text-primary hover:underline focus:underline">Protection</a></li>
              </ul>
              <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
              <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
              <p class="text-sm text-secondary mt-4 inline-flex items-center">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
                <time datetime="">20 February 2019</time>
              </p>
            </article>

            <article class="md:w-1/3 md:px-4 mb-8 lg:mb-0">
              <a href="#" class="block mb-4">
                <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
              </a>
              <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
                <li class="px-2"><a href="#" class="text-primary hover:underline focus:underline">Protection</a></li>
              </ul>
              <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
              <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
              <p class="text-sm text-secondary mt-4 inline-flex items-center">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
                <time datetime="">20 February 2019</time>
              </p>
            </article>

            <article class="md:w-1/3 md:px-4 mb-8 lg:mb-0">
              <a href="#" class="block mb-4">
                <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
              </a>
              <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
                <li class="px-2"><a href="#" class="text-primary hover:underline focus:underline">Protection</a></li>
              </ul>
              <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
              <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
              <p class="text-sm text-secondary mt-4 inline-flex items-center">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
                <time datetime="">20 February 2019</time>
              </p>
            </article>

            <article class="md:w-1/3 md:px-4 mb-8 lg:mb-0">
              <a href="#" class="block mb-4">
                <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
              </a>
              <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
                <li class="px-2"><a href="#" class="text-primary hover:underline focus:underline">Protection</a></li>
              </ul>
              <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
              <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
              <p class="text-sm text-secondary mt-4 inline-flex items-center">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
                <time datetime="">20 February 2019</time>
              </p>
            </article>

            <article class="md:w-1/3 md:px-4 mb-8 lg:mb-0">
              <a href="#" class="block mb-4">
                <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
              </a>
              <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
                <li class="px-2"><a href="#" class="text-primary hover:underline focus:underline">Protection</a></li>
              </ul>
              <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
              <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
              <p class="text-sm text-secondary mt-4 inline-flex items-center">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
                <time datetime="">20 February 2019</time>
              </p>
            </article>

            <article class="md:w-1/3 md:px-4 mb-8 lg:mb-0">
              <a href="#" class="block mb-4">
                <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
              </a>
              <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
                <li class="px-2"><a href="#" class="text-primary hover:underline focus:underline">Protection</a></li>
              </ul>
              <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
              <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
              <p class="text-sm text-secondary mt-4 inline-flex items-center">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
                <time datetime="">20 February 2019</time>
              </p>
            </article>

          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="pt-16 pb-8 lg:py-16 bg-primary text-white">
    <div class="container mx-auto px-4">
      <header class="mb-8 w-full"><h2 class="font-bold text-2xl">Related</h2></header>
      <div class="md:flex md:-mx-4">

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-900 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-blue-200 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-900 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-blue-200 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-900 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-blue-200 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

        <article class="md:w-1/2 lg:w-1/4 md:px-4 mb-8 lg:mb-0">
          <a href="#" class="block mb-4">
            <img src="//placehold.it/320x240" alt="" class="w-full h-auto">
          </a>
          <ul class="block font-bold mb-4 uppercase text-sm tracking-wide inline-flex -mx-2 flex-wrap">
            <li class="px-2"><a href="#" class="text-blue-900 hover:underline focus:underline">Protection</a></li>
          </ul>
          <h3 class="font-bold mb-4 text-xl leading-tight"><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></h3>
          <p class="leading-tight">Quod nisi illo repellat est odit tempore rerum doloremque dolore, ex accusantium aliquid dicta architecto aperiam! Delectus quis aut fugit facilis tenetur!</p>
          <p class="text-sm text-blue-200 mt-4 inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
            <time datetime="">20 February 2019</time>
          </p>
        </article>

      </div>
    </div>
  </section>

  <script src="~/src/index.js"></script>
</body>
</html>