<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind Components</title>
  <link rel="stylesheet" href="~/src/style.css">
</head>
<body>


  <section class="pt-16 pb-12 bg-gray-200">
    <div class="container mx-auto px-4">
      <header class="mb-8 w-full flex justify-center"><h2 class="font-bold text-2xl">Statistics</h2></header>
      <div class="md:flex md:-mx-4 md:justify-center md:items-center md:flex-wrap">

        <div class="flex justify-center md:block mb-4 md:px-4">
          <div class="rounded-full bg-secondary text-white w-48 h-48">
            <div class="flex flex-col items-center justify-center p-4 w-full h-full">
              <div class="font-bold uppercase text-xs text-center tracking-wide leading-none">Something here</div>
              <div class="font-semibold my-2 text-5xl md:text-4xl leading-none">1,234</div>
              <div class="font-bold uppercase text-xs tracking-wide leading-none">Done</div>
            </div>
          </div>
       </div>

       <div class="flex justify-center md:block mb-4 md:px-4">
          <div class="rounded-full bg-white text-gray-700 w-64 h-64">
            <div class="flex flex-col items-center justify-center p-4 w-full h-full">
              <div class="font-bold uppercase text-sm tracking-wide leading-none">Something here</div>
              <div class="font-semibold my-2 text-6xl leading-none">98%</div>
              <div class="font-bold uppercase text-sm tracking-wide leading-none">Done</div>
            </div>
          </div>
       </div>

       <div class="flex justify-center md:block mb-4 md:px-4">
          <div class="rounded-full bg-primary text-white w-64 h-64">
            <div class="flex flex-col items-center justify-center p-4 w-full h-full">
              <div class="font-bold uppercase text-sm tracking-wide leading-none">Something here</div>
              <div class="font-semibold my-2 text-6xl leading-none">98%</div>
              <div class="font-bold uppercase text-sm tracking-wide leading-none">Done</div>
            </div>
          </div>
       </div>

       <!-- small -->
       <div class="flex justify-center md:block mb-4 md:px-4">
          <div class="rounded-full bg-secondary text-white w-48 h-48">
            <div class="flex flex-col items-center justify-center p-4 w-full h-full">
              <div class="font-bold uppercase text-xs text-center tracking-wide leading-none">Something here</div>
              <div class="font-semibold my-2 text-5xl md:text-4xl leading-none">1,234</div>
              <div class="font-bold uppercase text-xs tracking-wide leading-none">Done</div>
            </div>
          </div>
       </div>

      </div>
    </div>
  </section>

  <script src="~/src/index.js"></script>
</body>
</html>