<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind Components</title>
  <link rel="stylesheet" href="~/src/style.css">
</head>
<body>

  <div class="container mx-auto px-4">

      <h2 class="my-8 font-bold text-2xl">Table</h2>

      <div class="my-16">
        <table class="w-full text-xs md:text-base">
          <tbody class="w-full">
            <tr class="flex w-full">
              <th class="py-2 border-b border-black w-48 md:w-1/4 text-left">Heading</th>
              <td class="py-2 border-b border-black w-full">Item</td>
            </tr>
            <tr class="flex w-full">
              <th class="py-2 border-b border-black w-48 md:w-1/4 text-left">Heading</th>
              <td class="py-2 border-b border-black w-full">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia perferendis recusandae placeat consequatur, eum accusantium maiores doloremque aperiam. Eos quibusdam cumque corrupti maiores exercitationem dolores doloribus labore eligendi alias corporis.</td>
            </tr>
            <tr class="flex w-full">
              <th class="py-2 border-b border-transparent w-48 md:w-1/4 text-left">Heading</th>
              <td class="py-2 border-b border-transparent w-full">Item</td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>

  <script src="~/src/index.js"></script>
</body>
</html>